.app {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  width: 100vw;
  min-height: 100vh;
}

.app__header,
.app__main,
.app__footer {
  width: 100%;
  max-width: 64rem;
}

.app__header,
.app__footer {
  height: 3rem;
  margin: 3rem 6rem;

}

.app__header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-end;
  align-content: center;
}


.app__main {
  min-height: 65vh;
}