.app {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  width: 100vw;
  min-height: 100vh;
}

.app__header,
.app__main,
.app__footer {
  width: 100%;
  max-width: 64rem;
}

.app__main h1 {
  text-align: center;
  margin: 20px
}

.app__main p {
  margin: 20px;
  padding: 15px;
  border: 2px dotted white;
}

.app__header,
.app__footer {
  height: 3rem;
  margin: 3rem 6rem;

}

.app__header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.app__header li {
  display: inline;
  text-align: center;
}

.app__header a {
  padding: 10px;
  color: white;
}

.app__main {
  min-height: 65vh;
}